/* wallust-wlogout */

/* Importing wallust colors */
@import '../../.config/waybar/wallust/colors-waybar.css';

@define-color blur-back rgba(40, 40, 40, 0.6784313725);
@define-color blur-back-alt rgba(40, 40, 40, 0.5784313725);

window {
    font-size: 24pt;
    color: @foreground; /* text */
    /* Fondo de la ventana: Un color RGBA estilo Gruvbox con transparencia */
    background-color: @blur-back-alt; /* Un gris oscuro (casi negro) con 80% de opacidad, como base Gruvbox */
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    /* Botones semi-transparentes: Un color base oscuro con transparencia */
    background-color: @blur-back-alt; /* Un gris oscuro con 40% de opacidad para que se vea a través */
    animation: gradient_f 10s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border-radius: 80px;
	border:0px;
	outline-style: none;
}

button:focus {
    background-size: 30%;
	border: 0px;
	outline-style: none;

}

button:hover {
    /* Al pasar el ratón, el botón es un poco menos transparente */
    background-color: @blur-back-alt; 
    color: @color13; /* Mantener tu color original para el texto/icono al pasar el ratón */
    background-size: 20%;
    margin: 30px;
    border-radius: 80px;
    outline-style: none;

}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em; /* Increase the font size */
}


#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:hover {
    background-image: image(url("./icons/lock-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}
#logout:hover {
    background-image: image(url("./icons/logout-hover.png"));
}

#suspend {
    background-image: image(url("./icons/sleep.png"));
}
#suspend:hover {
    background-image: image(url("./icons/sleep-hover.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
    background-image: image(url("./icons/power-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
    background-image: image(url("./icons/restart-hover.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
#hibernate:hover {
    background-image: image(url("./icons/hibernate-hover.png"));
}
